
.card{
background-color: lightyellow;
/*height: 350px;*/

}
img{
	margin-bottom: 0px;
	padding-left: 25px;
	height: 350px;
	width: 300px;
	padding-right: 25px;
	
}
#update{
margin-left: 45px;
}
#delete{
margin-left: 50px;
}